* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f6f6fe;
}
a {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}
.contenedor {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
}